.center {
    display:block;
    margin: 0 auto;
}

.center-text {
    text-align: center;
}

.clear-button {
    margin-top: 10px;
    border: 3px solid white;
    color: yellow;
    opacity: 1;
    margin-bottom: 10px;
}

.clear-button:hover {
    background-color: white;
    color: red;
}

.cards-container {
    position: relative;
    left: 90px;
    min-height:400px;
}

.results-header {
    border-bottom: 2px rgb(55, 55, 55) solid;
    padding-bottom: 15px;
}

@media only screen and (max-width: 375px) {
    .results-header {
        margin-top:15px;
        font-size: 28px;
        border-bottom: 2px rgb(55, 55, 55) solid;
        padding-bottom: 15px;
    }

    .cards-container{
        position: relative;
        left: 30px;
    }
}