.center {
    display:block;
    margin: 0 auto;
}

.center-text {
    text-align: center;
}

.clear-button {
    margin-top: 10px;
    border: 3px solid white;
    color: yellow;
    opacity: 1;
    margin-bottom: 10px;
}

.clear-button:hover {
    background-color: white;
    color: red;
}